@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@keyframes bounce-1 {
    0% {
        transform: translateY(-100px);
    }
    50% {
        transform: translateY(200px);
    }
    100% {
        transform: translateY(-100px);
    }
}


@keyframes circle {
    0% {
        transform: rotate(0deg) translate(-165px) rotate(0deg);

    }
    100% {
        transform: rotate(360deg) translate(-165px) rotate(-360deg);
    }
}

/*шапочка*/
header {
    width: 100%;
    height: 90px;
    background-color: #E1EAF9;
    display: table;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 50;
}

.header_inner {
    display: flex;
    justify-content: space-between;
}

.logo {
    text-align: left;
    margin-top: 20px;
    margin-left: 60px;
}

.menu ul {
    list-style-type: none;
    justify-content: stretch;
    display: flex;
    margin-top: 25px;
    /*text-decoration: none;*/
}

.menu ul li {
    font-size: 1.5rem;
    padding-right: 90px;
    padding-left: 50px;
    transition: color .2s linear;
}

.menu ul li:hover {
    color: thistle;
}

.nav_link {
    list-style-type: none;
    text-decoration: none;
    transition: color .2s linear;
    cursor: pointer;
}
.nav_link:hover {
    color: thistle;
}

.nav_link.active {
    color: thistle;
}
/*.nav_link:hover:after,*/
/*.nav_link:focus:after{*/
/*    color: thistle;*/
/*}*/

/*body*/

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    margin: 0;
    padding: 0;
    border: 0;
    color: #003D56;
}


.container {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    position: relative;
}


.intro_text1 {
    /*width: 900px;*/
    height: 300px;
    position: relative;
    margin-top: 30px;
    font-weight: 700;
    font-size: 4.5rem;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
}

.intro_text1 .input_form {
    width: 600px;
    height: 300px;
    padding-top: 2px;

}

.input_text {
    display: block;
    /*max-width: 100%;*/
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: rgba(0, 0, 0, 0.0);
}

.input_text .input_button {
    border-radius: 10px;
}

/*Картинки*/
.img_alphabet {

    min-height: auto;
    text-align: right;
    margin-top: 150px;
    margin-right: 30px;
    box-shadow: 10px 5px 5px slategray;
}

.project_inner {
    /*width: 1250px;*/
    max-width: 80%;
    height: 430px;
    max-height: 80%;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #1AD079;
    border-radius: 20px;
    display: table;
}

.project_name {
    margin-top: 40px;
    margin-left: 100px;
    font-weight: 600;
    font-size: 50px;
    color: #003D56;
}

.project_text {
    /*width: 1000px;*/
    /*height: 120px;*/
    /*position: absolute;*/
    margin-right: 100px;
    margin-left: 100px;
    font-weight: 500;
    font-size: 20px;
    color: #003D56;
    text-align: justify;
    text-justify: distribute;
}

.banner2 {
    margin-top: 80px;
    justify-content: center;
    padding: 50px 0;
    display: flow;
}

.banner2 blockquote q {
    padding: 50px 50px;
    font-size: 1.6rem;
}

.banner2 blockquote cite a {
    text-decoration: none;
    color: black;
    text-align: left;
    font-size: 1.2rem;
}

p {
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
    text-indent: 55px;
    color: #003D56;
}

.project_text1 {
    margin-top: 40px;
}

.project_text2 {
    margin-top: 20px;
}


.circle1 {
    height: 550px;
    position: absolute;
    top: 200px;
    right: 300px;
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(26, 208, 121, 0.416) 0%, rgba(26, 208, 121, 0) 100%);
    animation: bounce-1 5s linear infinite;
}

.circle2 {
    width: 350px;
    height: 350px;
    position: absolute;
    top: 220px;
    left: 20px;
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(3, 114, 255, 0.3835) 0%, rgba(3, 114, 255, 0) 100%);
    animation: circle 7s linear infinite;
}

footer {
    height: 350px;
    background-color: #E1EAF9;
    font-size: 20px;
    color: #003D56;
}

.footer_inner {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    padding-top: 50px;
    /*max-width: 100%;*/
    justify-content: start;
    align-items: center;
}

.footer_logo {
    /*margin-top: 20px;*/
    margin-left: 60px;
}

.footer_nav ul {
    /*position: static;*/
    list-style-type: none;
    /*margin-top: 40px;*/
    margin-left: 50px;
    text-decoration: none;
}

.footer_nav ul li {
    font-size: 1.5rem;
    /*padding-right: 90px;*/
    /*padding-left: 40px;*/
}

.footer_kont {
    position: relative;
}

.footer_kont_img {
    /*display: flex;*/
    /*justify-content: flex-start;*/
}

/*.scriptTime{*/
/*    font-size: 1.5rem;*/
/*    width: 50%;*/
/*}*/

.footer_kont_img a img {
    padding-right: 10px;
    padding-left: 10px;
}

/*Каталог жесткий*/
table {
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows: repeat(4,1fr);
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    border-spacing: 5px;
    border-radius: 20px;
    margin-top: 150px;
    border: 5px solid #003D56;

}

table thead, tbody,tr{
    display: contents;
}

th {
    overflow: hidden;
    /*white-space: nowrap;*/
    text-align: center;
}

td {
    white-space: nowrap;
    text-align: center;
}

tr:nth-child(even) td {
    background: bisque;
}

tr:nth-child(odd) td {
    background: burlywood;
}

/*cooperation*/
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #003D56;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

.todo-input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    color: #003D56;
}

.coop-button{
    border: none;
    outline: none;
    padding: 16px 50px;
    cursor: pointer;
    border-radius: 40px;
}

.todo-app{
    /*width: 100%;*/
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2{
    color: #003D56;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

ul li{
     list-style: none;
     font-size: 17px;
     padding: 12px 8px 12px 50px;
     user-select: none;
     cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-size:cover;
    background-position: center;
    top: 12px;
    left: 8px;

}

.completed {
    text-decoration: line-through;
    color: #1AD079;

}

.delete {
    background-color: darkred;
    color: #E1EAF9;
    margin-left: 30px;
    border: none;
    outline: none;
    padding: 16px 30px;
    cursor: pointer;
    border-radius: 40px;
}

.delete:hover {
    font-weight: bold;
}
.form-container{
    margin-top: 5%;
}

.form-row{
    justify-content: center;
}

.col-md-6 {
    width: 50%;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

.card-header {
    background-color: #003D56;
    padding: 10px;
}

.card-header h4 {
    margin: 0;
}

.card-body {
    padding: 0;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-primary {
    background-color: #003D56;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #003D56;
}

.swiper-slide {
    text-align: center;
    margin-top: 20px;
}

.swiper .swiper-pagination {
    --swiper-pagination-color: #003;
    --swiper-pagination-bullet-width: 5px;
    --swiper-pagination-bullet-height: 5px;
}


